body {
    display: flex;
    justify-content: center;
}

.container {
    height: 100vh;
    max-width: 1200px;
    display: flex;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 200px;
}

.description {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .title {
        align-self: center;
    }
}

.buttons {
    display: flex;
    gap: 10px;
    justify-content: center;

    button {
        font-size: 20px;
        padding: 10px 20px;
        border-radius: 5px;
        border: none;
        cursor: pointer;
    }
}