@font-face {
  font-family: Inter;
  src: url(./fonts/Inter/Inter.ttf);
}

* {
  font-family: Inter;
}

#body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: calc(100vh - 20px);
  width: calc(100vw - 20px);
}

#stream {
  width: auto;
}

#streamContainer {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: calc(100vh - 20px);
  width: calc(100vw - 20px);

  & > #localVideo {
    display: none;
    height: 50vh;
    width: auto;
  }
}

input {
  width: 3rem;
}
